<!-- configuation file that specifies where the CLR class loader can find
     the assemble file (codebase hint) -->
<configuration>
   <runtime>
     <bypassTrustedAppStrongNames enabled="false" />  <!-- false: Signatur wird überprüft. true: Signatur wird nicht überprüft-->
     <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="Calc"
                              publicKeyToken="f6d5a44e11edf6c5"
                              culture="neutral" />
            <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/> <!-- verwendet neue Version obwohl alte Version im Manifest steht-->
            <codeBase version="1.0.0.0"
                      href="file:///c:/temp/bin/v1/Calc.dll"/>
            <codeBase version="2.0.0.0"
                      href="file:///c:/temp/bin/v2/Calc.dll"/>          
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
