<!-- configuation file that specifies where the CLR class loader can find
     the assemble file (code hint) -->
<configuration>
  <runtime>
    <bypassTrustedAppStrongNames enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Calc"
                          publicKeyToken="<<TOKEN HERE>"
                          culture="neutral" />
            <codeBase version="1.0.0.0"
                      href="file:///C:/temp/bin/v1/Calc.dll"/>
                      <bindingRedirect oldVersion="1.0.0.0-1.9.0.0"
                                       newVersion="2.0.0.0" />
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
