<configuration>
  <runtime>
    <bypassTrustedAppStrongNames enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Calc"
                          publicKeyToken="246803334ac4f5ff"
                          culture="neutral" />
            <codeBase version="1.0.0.0"
                      href="file:///C:/temp/bin/v1/Calc.dll"/>
         </dependentAssembly>
      </assemblyBinding>
   </runtime>
</configuration>
