<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="PersonDbConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Users\Daniel Englisch\OneDrive\Hagenberg\Unterricht\5.Semester\SWK5\exercises\Ue04\db\person_db.mdf';Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
</configuration>